@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: -0.8rem;
  width: 100px;
}

.logo-text {
  padding-top: 10px;
  margin-left: -2rem;
  margin-top: -0.8rem;
  font-size: 25px;
  /* font-weight: 600; */
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-items div {
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  /* transition: 0.3s ease; */
}

.nav-items div a {
  color: black;
  text-decoration: none;
}

.nav-items div:hover {
  transform: scale(1.02);
  font-weight: bold;

}

/* ------- MOBILE RESPONSIVE -------- */
/* @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-items {
    gap: 1rem;
  }

  .logo-text {
    font-size: 22px;
  }
} */

/* Hero section */

.hero-section {
  position: relative;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.faded-text {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}
.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}
.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover {
  border: solid 3px #e84949;
  color: black;
}

/* right */
.hero-section-right {
  position: relative;
}
.absolute {
  position: absolute;
}
.imgContainer {
  position: relative;
}
.user-image {
  padding: 2.5rem;
  animation: scaleImage 5s linear infinite;
}

.user-image img {

  display: block;
  width: 100%;

}

@keyframes scaleImage {
  0% {
    transform: scale(1);
    filter: grayscale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
  }

  100% {
    transform: scale(1);
    filter: grayscale(1);
    box-shadow: none;
  }
}

.icons-dots {
  z-index: 9;
  bottom: -2rem;
  right: 0;
  animation: dotsAnimation 5s linear infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icons-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icons-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}


.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 2%;
    left: 48%;
  }
}
.icons-zigzag {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
}
